<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Angular Project</title>
</head>

<body ng-controller="MainController">

    <script src="js/libs/angular.min.js"></script>
    <script src="js/controllers/mainController.js"></script>
    <script src="js/app.js"></script>
    <div>

        <form ng-submit='personAdd()'>
            <input required type="text" placeholder="Prénom" ng-model='firstname'>
            <input required type="text" placeholder="Nom" ng-model='lastname'>
            <input required type="email" placeholder="Adresse mail" ng-model='email'>
            <button type='submit'>Ajouter</button>
        </form>


        <table>
            <tr>
                <td>Prénom</td>
                <td>Nom</td>
                <td>Adresse mail</td>
            </tr>
            <tr ng-repeat='person in personList'>
                <td>{{person.firstname}}</td>
                <td>{{person.lastname}}</td>
                <td>{{person.email}}</td>
            </tr>
        </table>

    </div>
</body>

</html>
